/*
 * File Name         : SettingItem.module.css
 * Description       : Styles for individual setting items in the settings view
 * Author            : Thibaud Demay (thibaud@demay.dev)
 * Created At        : 21/08/2025 22:09:36
 * ----
 * Last Modified By  : Thibaud Demay (thibaud@demay.dev)
 * Last Modified At  : 25/08/2025 20:16:00
 */

.settingItem {
  display: flex;
  flex-direction: column;
}

.settingItem:has(div.settingItemFullWidth) > .settingItemHeader {
  margin-inline-end: unset;
}

.settingItemHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.settingItemFullWidth {
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fullWidthInput {
  width: 100% !important;
  box-sizing: border-box;
  min-width: 0;
}

.fullWidthDropdown {
  width: 100% !important;
  box-sizing: border-box;
}

.fullWidthSlider {
  width: 100%;
}